.overflow-ellipsis {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cfiles-content .breadcrumb {
  border-radius: 0;
  margin: 0;
}

.cfiles-content .breadcrumb li.folder-visibility {
  float:right;
}

.cfiles-content .breadcrumb li.folder-visibility:before {
  content:none;
  float:right;
}

.cfiles-content .file-controls {
  font-size: 11px;
  color: #aeaeae;
  margin-top: 10px;
  margin-bottom: 0;
}
.cfiles-content .file-controls a {
  font-size: 11px;
  color: #aeaeae;
  margin-top: 10px;
  margin-bottom: 0;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

.panel .panel-body .files-action-menu .btn {
  font-size: 1em !important;
  font-weight: normal !important;
}
.panel .panel-body .files-action-menu .btn-default:hover {
  background-color: #e6e6e6 !important;
}
.panel .panel-body .files-action-menu .btn-success:hover {
  background-color: #89cc5e !important;
}
.panel .panel-body .files-action-menu .btn-danger:hover {
  background-color: #ff6f6f !important;
}
.panel .panel-body .files-action-menu .btn-primary:hover {
  background-color: #286090 !important;
}
.panel .panel-body .files-action-menu .btn-group {
 
}
.panel .panel-body .files-action-menu .btn-group .split-toggle {
  width: auto !important;
  float: right !important;
  border-radius: 0px 3px 3px 0px;
}
.panel .panel-body .files-action-menu .btn-group .split-toggle:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0px 3px 3px 0px;
}
.panel .panel-body .files-action-menu .btn-group > .split-button {
  width: auto !important;
  overflow: hidden;
  display: block;
  float: none !important;
  border-radius: 3px 0px 0px 3px;
}
.panel .panel-body .files-action-menu .btn-group > .split-button:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 3px 0px 0px 3px;
}
.panel .panel-body .files-action-menu .dropdown-menu {
  padding: 0;
  margin: 0;
  min-width: 100%;
}
.panel .panel-body .files-action-menu .dropdown-menu li {
  padding: 0;
  border: none;
  border-radius: 0px;
}
.panel .panel-body .files-action-menu .dropdown-menu li:first-child {
  padding: 0;
  margin: 0;
  border-radius: 3px 3px 0px 0px;
}
.panel .panel-body .files-action-menu .dropdown-menu li:first-child .btn {
  border-radius: 3px 3px 0px 0px;
}
.panel .panel-body .files-action-menu .dropdown-menu li:last-child {
  padding: 0;
  margin: 0;
  border-radius: 0px 0px 3px 3px;
}
.panel .panel-body .files-action-menu .dropdown-menu li:last-child .btn {
  border-radius: 0px 0px 3px 3px;
}
.panel .panel-body .files-action-menu .dropdown-menu .btn {
  border: none;
  border-radius: 0px;
}
.filedelete-button {
  cursor: pointer;
}
.filemove-button {
  cursor: pointer;
}
.downloadzipped-button {
  cursor: pointer;
}
.selectedOnly {
  display: none;
}
.table-responsive td .title,
.table-responsive td .timestamp,
.table-responsive td .creator,
.table-responsive td .size {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}
.table-responsive > table > tbody > tr > td {
  vertical-align: middle;
}
.table-responsive td .title {
  max-width: 150px;
}
.table-responsive .table .file-controls {
  font-size: 11px;
  margin-top: 0;
  margin-bottom: 0;
}
.table-responsive .table .file-controls a {
  font-size: 11px;
  margin-top: 0;
  margin-bottom: 0;
}
.table-responsive .table .file-controls hr {
  margin-top: 2px;
  margin-bottom: 2px;
}

#fileList .table-responsive {
  overflow: initial;
}

#bs-table.table .file-actions {
  padding-left: 0;
  padding-right: 2px;
  width: 0;
}

@media (min-width: 418px) {
  #bs-table.table tr .context-icon {
    display: none;
  }
  #bs-table.table tr:hover .context-icon {
    display: inline-block;
  }
}

#bs-table.table>thead>tr>th, 
#bs-table.table>tbody>tr>th, 
#bs-table.table>tfoot>tr>th, 
#bs-table.table>thead>tr>td, 
#bs-table.table>tbody>tr>td, 
#bs-table.table>tfoot>tr>td {
  padding: 10px 5px 5px 5px;
}

#bs-table.table>thead>tr>th label, 
#bs-table.table>tbody>tr>th label, 
#bs-table.table>tfoot>tr>th label, 
#bs-table.table>thead>tr>td label, 
#bs-table.table>tbody>tr>td label, 
#bs-table.table>tfoot>tr>td label {
  margin-bottom: 0px;
}

#bs-table.table ul.contextMenu li a {
  font-size: 14px;
  font-weight: normal;
}

#bs-table.table tr.ui-draggable-dragging {
  z-index: 10000;
}
#bs-table.table tr.ui-droppable-hover td {
  background: #ffffe0;
}

#fileList [data-ui-sort] {
  font-weight:bold;
  cursor: pointer;
}

#fileList [data-ui-order="ASC"]:after {
  content: "\25bc";
}

#fileList [data-ui-order="DESC"]:after {
  content: "\25b2";
}

@media (max-width: 419px) {
  .hidden-xxs {
    display: none !important;
  }
}
@media (min-width: 420px) {
  .table-responsive td .title {
    max-width: 160px;
  }
}
@media (min-width: 768px) {
  .table-responsive td .title {
    max-width: 400px;
  }
}
@media (min-width: 992px) {
  .table-responsive td .title {
    max-width: 450px;
  }
}
@media (min-width: 1200px) {
  .table-responsive td .title {
    max-width: 600px;
  }
}
